<%- include('partials/header'); -%>

<header>
  <div class="smoothie">
    <img src="/smoothie.png" alt="">
  </div>
  <div class="headings">
    <h2>Feedback portal</h2>
    <h3>By Ninjas</h3>
    <a href="/smoothies" class="btn">Login</a>
  </div>
</header>


<%- include('partials/footer'); -%>